body{
   color: white;
   
}

html { 
    background: url(../images/green.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

label{
    color: blue;
    margin: 2%;
}

#gif-search {
    margin-left: 2%;
    margin-top: 5px;
    width: 15%;
}
#add-gif {
    margin-left: 2%;
    margin-top: 5px;
}

#buttons {
    margin-left: 20%;
    margin-top: -3%;
}

.bn{
    margin: 1%;
}


.gif{
    position: relative;
    float: left;
    margin: 3%;
    color: gold;
}

@media screen and (max-width: 400px) {
    #buttons {
        margin: 4%;
    }
    .bn{
        margin: 2%;
    }
    .gif{
        margin: 3% 3% 3% 12%;
    }
  }